<div{% if rtl %} dir="ltr"{% endif %}>
  <h1>About <a href="{{ url_for('index') }}">WebRats</a></h1>


  <p> We are a secure search engine, nothing is logged.  The only thing we monitor is if the website it up, we ping it every 30 seconds. Nothing else is saved</p>
  <h2>Why use it?</h2>

  <ul>
    <li>
      WebRats may not offer you as personalised results as Google, but it doesn't
      generate a profile about you.
    </li>
    <li>
      WebRats doesn't care about what you search for, never shares anything with a
      third party, and it can't be used to compromise you.
    </li>
    <li>
      WebRats is free software, the code is 100% open and you can help to make
      it better.</a>.
    </li>
  </ul>
  <h2>Technical details - How does it work?</h2>

  <p>
    WebRats is a <a href="https://en.wikipedia.org/wiki/Metasearch_engine">metasearch engine</a>,
    inspired by the <a href="https://beniz.github.io/seeks/">seeks project</a>.
    WEBRATS.XYZ IS CONNECTED TO OVER 3000 PROXY SERVERS. Everytime you make a request we shoot your request out to one of the 3000 proxies in the network, fetch your results all in under 1 second (pretty cool right).
    It provides basic privacy by mixing your queries with searches on other
    platforms without storing search data. Queries are made using a POST request
    on every browser (except Chromium-based browsers*).  Therefore they show up
    in neither our logs, nor your url history. In the case of Chromium-based
    browser users there is an exception: searx uses the search bar to perform GET
    requests.

    WebRats can be added to your browser's search bar; moreover, it can be set as
    the default search engine.
  </p>

  <h2 id='add to browser'>How to set as the default search engine?</h2>

  <p>
    WebRats supports <a href="https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md">OpenSearch</a>.
    For more information on changing your default search engine, see your browser's documentation:
  </p>

  <ul>
    <li><a href="https://support.mozilla.org/en-US/kb/add-or-remove-search-engine-firefox">Firefox</a></li>
    <li><a href="https://support.microsoft.com/en-us/help/4028574/microsoft-edge-change-the-default-search-engine">Microsoft Edge</a></li>
    <li>Chromium-based browsers <a href="https://www.chromium.org/tab-to-search">only add websites that the user navigates to without a path.</a>
  </ul>

  <h2>Where to find anonymous usage statistics of this instance ?</h2>

  <p>
    <a href="/stats">Stats page</a> contains some useful data about the engines used.
  </p>

  <p>
    If you do care about privacy, want to be a conscious user, or otherwise
    believe in digital freedom, make WebRats your default search engine
  </p>
</div>
{% include "__common__/aboutextend.html" ignore missing %}
